.image-presentation{
    width: 80vw;
    margin: 0 10vw;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 2em;
}

.image-presentation img{
    width: 40vw;
    height: 50vh;
    background-image: url("../images/group.JPG");
    background-size: cover;
    background-position: center;
}
.side-text{
    width: calc(40vw - 2em);
    height: 40vh;
    padding: 0 1em;
    position: relative;
}
.side-text h3{
    font-weight: 300;
}
#names{
    position: absolute;
    bottom: 0;
}
#link:hover{
    color: #065184;
}

.about-text{
    width: 80vw;
    margin: 0 10vw;
    color: rgb(40, 40, 40);
    line-height: 2em;
}

.about-text p{
    margin: 2em 0;
}

@media only screen and (max-width: 600px) {
    .image-presentation{
        width: 100vw;
        height: 200vw;
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .image-presentation img{
        width: 100vw;
        height: 1500vw;
        background-image: url("../images/group.JPG");
    }
    .side-text{
        width: 90vw;
        height: 70vh;
        margin: 1em 0 0 0;
    }
    #names{
        position: relative;
        margin-top: 1em;
    }
    .about-text{
        width: 90vw;
        margin: 0 5vw;
        text-align: justify;
        margin-top: 10vw;
        border-top: gray 1px solid;
    }
}